body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  background: hsl(210, 17%, 93%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-size: 32px;
  flex-basis: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.todo-list {
  background: #f7acac;
  box-shadow: 0 0 23px -8px #666;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

.todo-list > form {
  margin-bottom: 15px;
}

.todo {
  background: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}

.btn-remove {
  background-color: rgb(214, 9, 9);
  color: white;
  border: 0;
  outline: none;
  height: 20px;
  width: 20px;
  border-radius: 8px;
}
.btn-remove:hover {
  background-color: rgb(122, 19, 19);
  cursor: pointer;
}
